#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

#export DH_VERBOSE = 1
export GOPROXY = https://proxy.golang.org,direct
export GO111MODULE = auto
export GOFLAGS = -modcacherw

GO_LDFLAGS += -X github.com/rafaelmartins/filebin/internal/version.Version=$(DEB_VERSION_UPSTREAM)

%:
	dh $@ \
		--builddirectory=_build \
		--buildsystem=golang

override_dh_auto_install:
	dh_auto_install -- \
		--no-source
